data/*
logs/
dump/
outputs/
flagged/
*.egg-info
__pycache__
*.zip
*.ckpt
embeddings/*.pt
*.mp4
*.pth
.ipynb_checkpoints/
src/
logs
.vscode/
im-examples/
*.log
lightning_logs/
outputs/
pretrain_models/
examples/
assets/
notebooks/
models/ldm/inpainting_big/archive/data/

!data/DejaVuSans.ttf
!ldm/data
